@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #fe4775;
  --secondary-color: #161060;
  --headline-color: #393939;
  --primary-text-color: #111111;
  --secondary-text-color: #ffffff;

  --primary-font-family: roboto, sans-serif;
  --secondary-font-family: montserrat, sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--primary-font-family);
}

h2 {
  font-size: 3rem;
  font-weight: 100;
  color: #393939;
}

.input {
  border: none;
  outline: none;
  font-size: 3em;
  border-bottom: 3px solid rgba(52, 45, 47, 0.38);
}

.input::placeholder {
  color: #393939;
  opacity: 21%;
}

h3 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
}

input[type="radio"]:checked + label {
  color: var(--primary-color);
}
